doctype html
html
    head
        meta(charset='UTF-8')
        title co2.pvos.org
        link(rel='stylesheet', href='/style.css')

//h1 data.pvos.org

h2 Measurement recorded!

li.boxsmaller <b>Feed Home Page:</b> <a href="/co2/data/#{feed_pubkey}">http://#{base_url}/data/#{feed_pubkey}</a>
li.boxsmaller  <b>New CO2 data point</b>: #{co2_value} 

<hr>

p.blurb Back to <a href="/">Back to home</a>
